html{
    background-color:#B0E0E6;
}
span.QuestEvent{
  color:red;
}
span.QuestItem{
  color:blue;
}
span.character{
  color:green;
}
span.epithet{
  color:orange;
}
span.faction{
  color:purple;
}
span.location{
  color:fuchsia;
}


span.blades {
    color:green
}
span.empire {
    color:green
}
span.MythicDawn {
    color:red
}
span.daedra {
    color:red
}
span.DarkBrotherhood {
    color:brown
}
span.good  {
    color:green
}
span.evil  {
    color:red
}
span.neutral  {
    color:brown
}